# -----------------------------------------------------------------------------
# Example variables – copy to terraform.tfvars and adjust
# -----------------------------------------------------------------------------

libvirt_uri       = "qemu:///system"
cluster_name      = "lap-cluster"
cluster_domain    = "lab.local"
network_name      = "ocp-net"
network_cidr      = "192.168.150.0/24"
api_vip           = "192.168.150.10"
ingress_vip       = "192.168.150.11"
storage_pool_path = "/var/lib/libvirt/images/ocp"
agent_iso_path    = "/var/lib/libvirt/images/agent.x86_64.iso"

masters = [
  {
    name      = "master-0"
    vcpu      = 4
    memory    = 16384
    disk_size = 120
    mac       = "52:54:00:aa:bb:01"
    ip        = "192.168.150.20"
  },
  {
    name      = "master-1"
    vcpu      = 4
    memory    = 16384
    disk_size = 120
    mac       = "52:54:00:aa:bb:02"
    ip        = "192.168.150.21"
  },
  {
    name      = "master-2"
    vcpu      = 4
    memory    = 16384
    disk_size = 120
    mac       = "52:54:00:aa:bb:03"
    ip        = "192.168.150.22"
  },
]

workers = [
  {
    name      = "worker-0"
    vcpu      = 4
    memory    = 16384
    disk_size = 200
    mac       = "52:54:00:aa:cc:01"
    ip        = "192.168.150.30"
  },
]
