---
apiVersion: v1
metadata:
  name: {{ cluster_name }}
baseDomain: {{ base_domain }}

networking:
  networkType: OVNKubernetes
  machineNetwork:
    - cidr: {{ machine_network }}
    - cidr: {{ machine_network_ipv6 }}
  serviceNetwork:
    - {{ service_network }}
    - {{ service_network_ipv6 }}
  clusterNetwork:
    - cidr: {{ pod_network }}
      hostPrefix: 23
    - cidr: {{ pod_network_ipv6 }}
      hostPrefix: 64

compute:
  - name: worker
    replicas: {{ worker_nodes | length }}
    architecture: amd64

controlPlane:
  name: master
  replicas: {{ master_nodes | length }}
  architecture: amd64

platform:
  baremetal:
    apiVIPs:
      - {{ api_vip }}
      - {{ api_vip_ipv6 }}
    ingressVIPs:
      - {{ ingress_vip }}
      - {{ ingress_vip_ipv6 }}

pullSecret: '{{ lookup("file", pull_secret_path) }}'
sshKey: '{{ ssh_public_key }}'
